{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <h4>CARACTERÍSTICAS DEL OFICIAL</h4>
            <ul>
                <li>Observación</li>
                <li>Retentiva</li>
                <li>Honradez</li>
                <li>Respeto</li>
                <li>Seriedad</li>
                <li>Discreción</li>
                <li>Exceso de confianza</li>
                <li>Actitud de servicio</li>
            </ul>
            <p>Por características propias del puesto, es normal que el oficial de seguridad maneje información y documentación confidencial, por lo que se requiere mucha discreción en su trabajo.</p>
        </div>
        <div class="col-lg-offset-1 col-lg-5">
            <h4>PERFIL DEL OFICIAL</h4>
            <ul>
                <li>Atención al trabajo</li>
                <li>Apariencia personal</li>
                <li>Actitud</li>
                <li>Conocimiento de las instalaciones</li>
                <li>Conocimiento especial</li>
            </ul>
            <p>Debe comportarse de manera firme y segura, mostrarse amable y cortés en todo momento, además de ejecutar apropiadamente las órdenes de sus superiores. Siempre mantendrá una actitud de respeto hacia sus compañeros de   trabajo y con el público en general, evitando afrontar conflictos.</p>
        </div>
        <div class="col-lg-12"><hr/></div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-4">
                    <img class="img-responsive" src="{{ asset('bundles/avahuerweb/images/assets/oficial-01.png') }}" alt="Oficial 1"/>
                </div>
                <div class="col-lg-4">
                    <img class="img-responsive" src="{{ asset('bundles/avahuerweb/images/assets/oficial-02.png') }}" alt="Oficial 2"/>
                </div>
                <div class="col-lg-4">
                    <img class="img-responsive" src="{{ asset('bundles/avahuerweb/images/assets/oficial-03.png') }}" alt="Oficial 3"/>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}