{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-7">
            <h4>NUESTRA EMPRESA</h4>

            <h6>¿Quiénes somos?</h6>
            <p>Somos su agencia de seguridad con 25 años de experiencia en el campo, con una plataforma administrativa y operativa acorde con sus necesidades en la cual laboran ejecutivos con experiencia en leyes, procedimientos policiales y actuación en ambientes diversos.</p>
            <p>Como empresa moderna, nuestra organización tiene al frente de la gerencia general al MBA. Manuel Valverde Huertas, quien además de su preparación académica, cuenta en su haber con 27 años de trabajo en el área de seguridad. Adicionalmente, en su estructura administrativa colabora la gerencia de Recursos Humanos y Gerencia Operativa a cargo de profesionales en cada una de las especialidades. Para la ejecución operativa de nuestras labores, disponemos de Gerentes de cuenta, supervisores y coordinadores de seguridad, lo que asegura un servicio de primera calidad y a precio razonable para nuestros clientes.</p>
        </div>
        <div class="col-lg-5">
            <h4>Acérquese a nosotros</h4>
            <div class="row">
                <span class="glyphicon glyphicon-lock col-lg-1"></span>
                <p class="col-lg-10">Conozca algunas de las empresas que confían en los servicios de seguridad de la Agencia Valverde Huertas</p>
            </div>
            <div class="row">
                <span class="glyphicon glyphicon-globe col-lg-1"></span>
                <p class="col-lg-10">Conozca en profundidad la misión, la visión y los valores que distinguen nuestra empresa</p>
            </div>
            <div class="row">
                <span class="glyphicon glyphicon-briefcase col-lg-1"></span>
                <p class="col-lg-10">Conozca los servicios profesionales de seguridad que le ofrece la Agencia Valverde Huertas</p>
            </div>
        </div>
    </div>

{% endblock content %}