{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <h4>Misión</h4>
            <div class="row">
                <div class="col-lg-1"><span class="mision-vision-icon icon-key"></span></div>
                <div class="col-lg-11"><p>Satisfacer adecuadamente las necesidades de seguridad de nuestros clientes, brindándoles servicios especializados de vigilancia, monitoreo de alarmas, asesorías, investigación y consultorías profesionales con calidad y eficiencia y a un costo razonable.</p></div>
            </div>
            <h4>Visión</h4>
            <div class="row">
                <div class="col-lg-1"><span class="mision-vision-icon icon-rings"></span></div>
                <div class="col-lg-11"><p>Una empresa de primera línea, relacionada directamente con nuestro clientes, permitiéndole a estos trasladarnos la responsabilidad de aquellas actividades que no son parte de su proceso productivo, y a nuestros trabajadores crecer y realizarse en armonía con la organización.</p></div>
            </div>
        </div>
        <div class="col-lg-offset-1 col-lg-5">
            <h4>Valores</h4>
            <div class="row">
                <div class="col-lg-1"><span class="mision-vision-icon icon-cicle-arrows"></span></div>
                <div class="col-lg-11">
                    <p>Todas nuestras actividades y servicios girarán alrededor de los siguientes valores:</p>
                    <ul>
                        <li>Espíritu de servicio</li>
                        <li>Calidad</li>
                        <li>Eficiencia</li>
                        <li>Responsabilidad</li>
                        <li>Disciplina</li>
                        <li>Realización del personal</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}