{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h4 style="width: 50%;">SEGURIDAD ELECTRÓNICA</h4>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-7">
                    <strong>Como complemento a todos nuestros servicios, también le ofrecemos en este campo</strong>

                    <strong>Diagnósticos y Asesorías</strong>
                    <ul>
                        <li>Análisis de necesidades de seguridad electrónica para su empresa.</li>
                        <li>Asesoría para la adquisición e instalación de circuitos electrónicos de seguridad.</li>
                    </ul>
                    <strong>Venta e Instalación</strong>
                    <ul>
                        <li>Sistemas de alarma contra robo, asalto, fuego, pánico, etc.</li>
                        <li>Circuito cerrado de televisión de las mejores marcas y con tecnología de vanguardia.</li>
                        <li>Controles de acceso.</li>
                    </ul>
                </div>
                <div class="col-lg-5">
                    <img class="img-responsive" src="{{ asset('bundles/avahuerweb/images/assets/servicio-01.png') }}" alt="Seguridad electrónica"/>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <h4 style="width: 50%;">DIAGNÓSTICOS DE SEGURIDAD</h4>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-7">
                    <strong>Ponemos a su disposición personal capacitado para realizar diagnósticos y auditorías de seguridad, donde, entre otros, se evaluarán los siguientes parámetros:</strong>
                    <ul>
                        <li>Barreras de perímetro</li>
                        <li>Seguridad del área interior</li>
                        <li>Personal de seguridad (si se tiene)</li>
                        <li>Control e identificación del personal</li>
                        <li>Control de ingreso y salida de vehículos</li>
                        <li>Circuitos electrónicos de alarmas</li>
                    </ul>
                    <p>Los resultados de este diagnóstico serán analizados por nuestros expertos, quienes brindarán las recomendaciones necesarias para adecuar su empresa a las exigencias del medio. Igualmente, servirán para la elaboración de los Manuales de Procedimientos de seguridad y Manuales de contingencia, que su empresa requiere.</p>
                </div>
                <div class="col-lg-5">
                    <img class="img-responsive" src="{{ asset('bundles/avahuerweb/images/assets/servicio-02.png') }}" alt="Diagnósticos de seguridad"/>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <h4 style="width: 50%;">VIGILANCIA FÍSICA</h4>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-7">
                    <p>Nos capacitamos para brindar un servicio de cuido y vigilancia con la calidad humana que usted se merece. Contamos con un grupo de oficiales entrenados para cubrir todas sus necesidades a nivel Empresarial (sector público y privado), instituciones Bancarias, Industrias y Comercio.</p>
                    <strong>Como valor agregado a la vigilancia física y sin ningún costo adicional, usted obtendrá:</strong>
                    <ul>
                        <li>Un diagnóstico completo de seguridad para sus instalaciones.</li>
                        <li>Elaboración de manuales de procedimientos de seguridad y control.</li>
                        <li>Investigación y capacitación.</li>
                        <li>Elaboración de manuales de contingencia.</li>
                        <li>Un servicio personalizado.</li>
                    </ul>
                </div>
                <div class="col-lg-5">
                    <img class="img-responsive" src="{{ asset('bundles/avahuerweb/images/assets/servicio-03.png') }}" alt="Vigilancia física"/>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <h4 style="width: 50%;">MONITOREO DE ALARMAS</h4>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-7">
                    <p>Contamos con centrales computarizadas de monitoreo de alarmas, que tienen incorporados los últimos adelantos tecnológicos en el campo.</p>
                    <strong>A través de este servicio, usted tendrá:</strong>
                    <ul>
                        <li>Control 24 horas, los 365 días del año sobre ingresos y salidas a lugares monitoreados.</li>
                        <li>Atención inmediata de los eventos reportados por su alarma, a saber: Asalto, incendio, robo, pánico e ingreso no autorizado a sus instalaciones.</li>
                        <li>Respuesta alarmada inmediata en el gran área metropolitana.</li>
                        <li>Impresión de reportes e informes, de acuerdo a sus requerimientos.</li>
                    </ul>
                </div>
                <div class="col-lg-5">
                    <img class="img-responsive" src="{{ asset('bundles/avahuerweb/images/assets/servicio-04.png') }}" alt="Monitoreo de alarmas"/>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}